<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string></string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>iosamap</string>
		<string>baidumap</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_http._tcp</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>App 需要访问您的相机以拍摄照片，用于 AI 视觉识别分析、生成小红书文案以及识别周围物体。照片仅用于当次分析，不会被永久保存。</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>App需要访问您的音乐库以播放本地音乐</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>App 需要访问本地网络以发现并连接同一局域网内的小智 AI 硬件设备，实现低延迟的实时通信。</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>App 需要获取您的当前位置，以便为您提供周边的地图搜索、天气查询及路线规划服务（例如查找附近的景点或规划导航路线）。</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>App 需要访问麦克风以采集您的语音，用于与 AI 进行实时语音对话及发送语音指令。语音数据仅用于当次处理，不会被永久保存。</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string></string>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
